#container {
  display: grid;
  width: fit-content;
  border: 1px solid #232323;
  border-radius: 10px;
  padding: 30px;
  grid-template-columns: 100px 100px 100px;
  gap:10px;
  align-items: center;
  justify-items: center;
}
