* {
  background-color: #dfdfdf;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #ffffff;
  background-color: #000000;
}

img {
  font-family: Helvetica;
  font-size: 10px;
}
